{{round}}, 開始派獎
====================
{{#payoutRecords}}
    {{playerId}} {{playerBetRecord.betType}} {{playerBetRecord.amount}}, {{playerBetRecord.status}} {{payoutAmount}}, 
{{/payoutRecords}}
====================